# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file and bundle for alternative installation
vendor/
.bundle/
cv_folder/cv.log
cv_folder/cv_cn.aux
cv_folder/cv_cn.log
cv_folder/cv_cn.out
cv_folder/cv_cn.pdf
cv_folder/cv_cn.synctex.gz
cv_folder/cv_cn.xdv
cv_folder/cv.aux
cv_folder/cv.bbl
cv_folder/cv.out
cv_folder/cv.pdf
cv_folder/cv.synctex.gz
.gitignore
